<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <div class="container">
    
    <div class="header">
      {% if user and user.id %}
      <a id="profile" href="/profile" class="btn">Profile</a>
      <a id="logout" href="/auth/logout" class="btn">Logout</a>
      {% else %}
      <a id="login" href="/login" class="btn">Login</a>
      <a id="register" href="/register" class="btn">Register</a>
      {% endif %}
    </div>
    
    
    <div class="main">
      <div class="aside">
      </div>
      <div class="section">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <footer>
      Simple Blog
    </footer>

  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('loginError')) {
        alert(new URL(location.href).searchParams.get('loginError'));
      }
    };
  </script>
  {% block script %}
  {% endblock %}
</body>

</html>