{% extends 'layout.html' %}

{% block content %}

<div class="aside">
  <a>&#149&nbsp<u>카테고리</u></a><br>
  <a>&nbsp&middot 내용1</a><br>
  <a>&nbsp&middot 내용2</a><br>
  <a>&nbsp&middot 내용3</a>
</div>

<div class="section">
  <div class="section-header">
    {% if user and user.id %}
    <a id="blue-btn" href="/post" class="btn">Post</a>
    {% endif %}
    <form id="search-form" action="/title">
      <input type="text" name="title" placeholder="Title">
      <button id="gray-btn" class="btn">Search</button>
    </form>
  </div>

  
  {% for post in posts %}
  <div class="article">
    <input type="hidden" value="{{post.User.id}}" class="post-user-id">
    <input type="hidden" value="{{post.id}}" class="post-id">
    <div class="post-title">
      <a>{{post.User.nick}}</a>
    </div>
    <hr size="1px">
    <div class="post-content">
      {{post.content}}
    </div>
    
    {% if post.img %}
    <div class="post-img">
      <img src="{{post.img}}" alt="Img">
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}

