* { box-sizing: border-box; }

html, body { margin: 0; padding: 0; height: 100%; }

.container {
    width: 1000px;
    height: 100%;
    background: white;
    
}
@media screen and (min-width: 1000px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }
}

input[type='text'], input[type='email'], input[type='password'], textarea {
    border-radius: 4px;
    height: 30px;
    padding: 10px;
    border: 1px solid gray;
}

.input-group { margin-bottom: 5px; }
.input-group label { width: 32%; display: inline-block; }
.input-group input { width: 65%; }
.half { float: left; width: 50%; margin: 10px 0; }
#join { float: right; }

.btn {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background: white;
    border: 1px solid gray;
    color: black;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    font-size: 12px;
}

.nav {
    float: left;
    width: 250px;
    height: 100%;
    position: absolute;
    background: gray;
}

.section {
    float: right;
    width: 750px;
    height: 100%;
    position: relative;
    background: darkgray;
}

.profile-wrap {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
}

.profile {
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
    background: silver;
}

.join-wrap {
    margin-top: 10px;
    width: 60%;
    position: absolute;
    left: 10%;
    border-radius: 4px;
    vertical-align: top;
    border: 1px solid gray;
    background: silver;
}

#join-form {
    padding: 10px;
    text-align: center;
}


.section-wrap {
    padding: 10px;
}

#post-form {
    border-bottom: 1px solid silver;
    padding: 10px;
    background: gray;
    overflow: hidden;
  }
  #img-preview { max-width: 100%; }
  #img-label {
    float: left;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
    padding: 0 10px;
    color: white;
    font-size: 12px;
    height: 37px;
    line-height: 37px;
  }
  #img { display: none; }
  #post { width: 100%; min-height: 72px; }
  #post-btn {
    float: right;
    color: white;
    background: black;
    border: none;
  }
  .post {
    border: 1px solid silver;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
  }
  .post-author { display: inline-block; font-weight: bold; margin-right: 10px; }
  
  .post-img { text-align: center; }
  .post-img img { max-width: 75%; }

#search-form { text-align: right; }

#hashtag-form { text-align: right; }

.user-name { font-weight: bold; font-size: 18px; }

.error-message { color: red; font-weight: bold; }
